@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html {
  -webkit-tap-highlight-color: transparent;
}

body {
  @apply bg-zinc-950 text-zinc-100 antialiased;
  padding-bottom: env(safe-area-inset-bottom);
}

input,
select,
textarea,
button {
  @apply outline-none;
  font-size: 16px; /* evita zoom automático en iOS */
}

@media (min-width: 640px) {
  input,
  select,
  textarea,
  button {
    font-size: inherit;
  }
}
